@font-face {
  font-family: 'GyeonggiTitleBold';
  src: url('./fonts/GyeonggiTitle_Bold.ttf');
}
@font-face {
  font-family: 'GyeonggiTitleMedium';
  src: url('./fonts/GyeonggiTitle_Medium.ttf');
}
@font-face {
  font-family: 'GyeonggiTitleLight';
  src: url('./fonts/GyeonggiTitle_Light.ttf');
}
@font-face {
  font-family: 'NotoSansBold';
  src: url('./fonts/NotoSansKR-Bold.ttf');
}
@font-face {
  font-family: 'NotoSansMedium';
  src: url('./fonts/NotoSansKR-Medium.ttf');
}
@font-face {
  font-family: 'NotoSansRegular';
  src: url('./fonts/NotoSansKR-Regular.ttf');
}
@font-face {
  font-family: 'NotoSansLight';
  src: url('./fonts/NotoSansKR-Light.ttf');
}